package components

import "github.com/deej-tsn/blog-go/internal/models"

templ PostsList(posts []models.Post) {
    <ul id="PostsList">
       for _, post := range posts {
        @PostHero(post)
       }
    
    
    </ul>
}